<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="../public/stylesheets/photos.css">
    </head>
    <body>
        <h1>Photos</h1>
        <p>Express stock photo application.</p>
        <div id="id-div-photos">
            <% photos.forEach((photo) => { %>
                <div class="photo">
                    <h2><%= photo.name %></h2>
                    <a class="button" href="/photo/<%= photo.id %>/download">
                        <img src="/public/photos/<%= photo.path.split('\\')[photo.path.split('\\').length - 1] %>" alt="pic">
                    </a>
                </div>
            <% }) %>
        </div>
        <div>
            <a class="button" id="id-a-upload" href="/upload">上传图片</a>
        </div>
    </body>
</html>